:root {

  --ion-color-primary: #d62828;
  --ion-color-primary-rgb: 214, 40, 40;

  --ion-color-secondary: #fcbf49;
  --ion-color-secondary-rgb: 252, 191, 73;

  --ion-color-success: #2a9d8f;
  --ion-color-success-rgb: 42, 157, 143;

}