<ion-header>
  <ion-toolbar>
    <ion-title>
    🌭 CompletoRank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div @fadeIn>

<h2>
Bienvenido {{ usuario }}
</h2>

</div>

  <mat-card>

  <mat-card-header>
    <mat-card-title>
      Completo destacado
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    Dominó lidera el ranking esta semana.
  </mat-card-content>

  </mat-card>

  <ion-button
    expand="block"
    (click)="irLocales()">

    Ver Locales

  </ion-button>

  <br>

  <ion-button
    expand="block"
    (click)="irResena()">

    Crear Reseña

  </ion-button>

  <br>

  <ion-button
    expand="block"
    (click)="irRanking()">

    Ver Ranking

  </ion-button>

</ion-content>